
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.game{
    top: 4rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: rgba(0, 255, 34, 0.692);
    border: 1px solid rgba(37, 37, 37, 0.363);
    box-shadow: 5px 5px rgba(10, 10, 10, 0.514);
    padding: 1.5rem;

}
.slot{
    width: 90px;
    height: 90px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
}
.reset{
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;

}